



body{
   font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:1.3vw;
    margin:0 0;
   
}

.head img {
    width: 4vw;
    position: relative;
    top: 10vh;
    margin-left: 45vw;
    margin-right: 48vw;
    margin-bottom: 2vh;
}


.header{
    position: absolute;
    top:0;
    width:100vw;
    height:3vh;
    background-color:black;
    color:black;
    z-index: 3;
}


.title img {
    width: 12vw;
    margin-left: 42%;
    margin-top: 6%;
}

.title{
    font-weight:4vh;
}

.title p{
    font-size:2vw;
    padding:4%;
    border-bottom: 2px solid black;
    width:60vw;
}

.card{
    text-align: center;
    width:65%;
    margin-left:15%;
    margin-right:15%;
    line-height: 6vh;
   font-size:1.5vw;
}


.footer{
    background-color: black;
    width:100vw;
    height:10%;
    margin-top:5%;
}

/*============
nav
=============*/
nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: .5s;
    z-index: 3;
  }
  .open nav {
    left: 0;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -240px;
      width: 240px;
    }
  }
  /*============
  @keyframes
  =============*/
  @keyframes equalizer01 {
    0% {
      width: 70%;
    }
    10% {
      width: 50%;
    }
    20% {
      width: 100%;
    }
    30% {
      width: 10%;
    }
    40% {
      width: 50%;
    }
    50% {
      width: 70%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 10%;
    }
    80% {
      width: 100%;
    }
    90% {
      width: 10%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes equalizer02 {
    0% {
      width: 30%;
    }
    10% {
      width: 20%;
    }
    20% {
      width: 40%;
    }
    30% {
      width: 10%;
    }
    40% {
      width: 20%;
    }
    50% {
      width: 30%;
    }
    60% {
      width: 20%;
    }
    70% {
      width: 10%;
    }
    80% {
      width: 40%;
    }
    90% {
      width: 10%;
    }
    100% {
      width: 30%;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 30px;
    transform: translate(0, 0);
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .open .toggle_btn {
    left: 330px;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #666;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 5px;
    width: 60px;
    animation: equalizer01 7000ms infinite;
  }
  .toggle_btn span:nth-child(2) {
    top: 15px;
    width: 30px;
    animation: equalizer02 5000ms infinite;
    animation-delay: 0.33s;
  }
  .toggle_btn span:nth-child(3) {
    top: 25px;
    width: 20px;
    animation: equalizer02 5000ms infinite;
  }
  .open .toggle_btn span {
    background-color: #fff;
    width: 30px;
  }
  .open .toggle_btn span:nth-child(1) {
    transform: translate(0, 10px) rotate(-45deg);
    animation: unset;
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
    animation: unset;
  }
  .open .toggle_btn span:nth-child(3) {
    transform: translate(0, -10px) rotate(45deg);
    animation: unset;
  }
  @media screen and (max-width: 767px) {
    .open .toggle_btn {
      left: 260px;
    }
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
    transition: all .5s;
  }
  
